
*.json
*.json
*.json
*.ninja
*.txt
Day01/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4b74e2f4bfb172f5683d.json
Day01/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-835526d4caaae50df1b1.json
Day01/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-24T01-44-56-0733.json
Day01/cmake-build-debug/.ninja_deps
Day01/cmake-build-debug/.ninja_log
Day01/cmake-build-debug/build.ninja
Day01/cmake-build-debug/CMakeCache.txt
Day01/cmake-build-debug/CMakeFiles/clion-environment.txt
Day01/cmake-build-debug/CMakeFiles/clion-log.txt
Day01/cmake-build-debug/CMakeFiles/CMakeOutput.log
Day01/cmake-build-debug/CMakeFiles/Day01.dir/main.c.o
Day01/cmake-build-debug/CMakeFiles/rules.ninja
Day01/cmake-build-debug/Testing/Temporary/LastTest.log
*.log
